.album-picture-cell{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.album-picture-cell:hover {
    overflow: auto; /* Show scrollbar on hover */
    white-space: normal; /* Allow text to wrap within the cell on hover */
  }

  .album-name-cell{
    max-width: 50px; 
    cursor: pointer; 
    color: black; 

  &:hover {
    color: blue;
  }
  }


  p{
    font-size: larger;
  }